@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@viewport{width:device-width;}

@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoT.woff2") format("woff2"), url("../font/AppleSDGothicNeoT.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoUL.woff2") format("woff2"), url("../font/AppleSDGothicNeoUL.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoL.woff2") format("woff2"), url("../font/AppleSDGothicNeoL.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoR.woff2") format("woff2"), url("../font/AppleSDGothicNeoR.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoM.woff2") format("woff2"), url("../font/AppleSDGothicNeoM.woff") format("woff");
    font-weight: 500;
    /*font-style: medium;*/
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoSB.woff2") format("woff2"), url("../font/AppleSDGothicNeoSB.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoB.woff2") format("woff2"), url("../font/AppleSDGothicNeoB.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoEB.woff2") format("woff2"), url("../font/AppleSDGothicNeoEB.woff") format("woff");
    font-weight: 800;
}
@font-face {
    font-family: "Apple SD Gothic Neo";
    src: url("../font/AppleSDGothicNeoH.woff2") format("woff2"), url("../font/AppleSDGothicNeoH.woff") format("woff");
    font-weight: 900;
}



html {overflow-x: hidden; overflow-y: scroll}
* { margin:0; padding:0;
    font-family: "Apple SD Gothic Neo", 'SDGothic', AppleSDGothicNeo-Regular, /*'Malgun Gothic', '맑은 고딕',*/ dotum, '돋움', sans-serif;
    word-break:keep-all; list-style:none; text-indent: 0; font-size: 1em; line-height: 1em;
    box-sizing: border-box;  text-align: left;
}

article { margin:0 auto; overflow-x: hidden ; }

.line { border-top :2px solid #FF593C; margin-left:5%; width:90%; height: 2px; display: inline-block; }
.line2 { border-top :2px solid #FF593C; margin-left:5%; margin-bottom:50px; margin-top: 50px; width:90%; height: 2px; display: inline-block; }

.sns a { width: 18px; height: 18px ; margin:0 0 0 8px; float: left; display: inline-block; overflow: hidden; text-indent: -9999px ;
    background-repeat: no-repeat; background-size: 100% auto; background-position: center; border: 1px solid #ccc; }

.sns .youtube   { background-image: url("../image/comm/btn_youtube.png" ); border: none !important; }
.sns .instagram { background-image: url("../image/comm/btn_insta.png" ); border: none !important; }
.sns .facebook  { background-image: url("../image/comm/btn_facebook.png" ); border: none !important; }
.sns .brunch  { background-image: url("../image/comm/btn_brunch.png" ); border: none !important; }
.sns .website  { background-image: url("../image/comm/btn_website.png" ); border: none !important; }

.blind { position: absolute; top: 0; left: 0; display: inline-block; width: 100%; height: 100%;
         background-repeat: no-repeat; background-size: 100% ; background-position: center ;
         opacity: 0.5; text-align: center;  font-size: 50px; color: #fff; z-index: 9 ;  }
.blind p {  position: absolute; top: 40%; left: 10%; width: 80%; height:10%; text-align: center;    }

.pt00 { padding-top:0 !important; }
.mt00 { margin-top:0 !important; }
.mb00 { margin-bottom:0 !important; }
.mt60 { margin-top: 60px !important; }

footer { background: #F8F8F8;  font-size: 0.9em; padding : 50px 0 80px 0; }
footer p{ text-align: center ;  line-height: 22px; height: 22px; }
footer p:nth-child(1) { margin-bottom: 5px; color:#666666;   font-weight: 600; }
footer p:nth-child(2) { margin-bottom: 5px; color:#7E7E7E; font-size: 0.9em; font-weight: 400; }
footer p:nth-child(2) a { color:#666 !important; text-decoration: none !important; }
footer p:nth-child(3) { color:#7E7E7E; font-size:  0.9em; font-weight: 400; }
footer p strong{ font-weight: 700 !important;  }
footer p.logo{
    height:40px; width:40px; margin: 0 auto;
    background-image: url("../image/comm/footer_logo.png" ) ;
    background-repeat: no-repeat;
    background-size:  50% auto;
    background-position: left center;
    text-indent: -9999px;
}

.highlightyellow {
    background-repeat: repeat-x; background-size: 100% 35% ; background-position: left bottom;
    background-image: url("../image/comm/highlight_yellow.png"); }

.highlightyellow.short{
    background-repeat: repeat-x; background-size: 100% 35% ; background-position: left bottom -2px;
    background-image: url("../image/comm/highlight_yellow.png"); }

@media (max-width: 820px) {
    footer { font-size: 1em; padding:40px 0 40px 0; }
    footer p {  line-height: 16px; height: 16px;}
    .sns a { width: 16px !important;  height: 16px !important; background-size: 16px auto;  }
    .line2 { margin-bottom:25px; margin-top: 25px;}

}