/* 상단 메뉴 */

header { position: fixed; top: 0; left: 0; height: 60px; width: 100%;
    z-index: 800; background-color: #FF593C; }

header.move   { background-color: #FF593C !important;}
header.move ul  { background-color: #FF593C !important;}
header.yoga   { background-color: #FFCF55 !important;}
header.yoga ul  { background-color: #FFCF55 !important;}
header.pole   { background-color: #FF90B8 !important;}
header.pole ul  { background-color: #FF90B8 !important;}
header.judo   { background-color: #3CDDC7 !important;}
header.judo ul  { background-color: #3CDDC7 !important;}
header.futsal { background-color: #4790F8 !important;}
header.futsal ul  { background-color: #4790F8 !important;}

@media (min-width: 1025px) {

    header { position: fixed; top: 0; left: 0; height: 70px; width: 100%;
         z-index: 800; background-color: #FF593C; }

    header h1 {  position: absolute; top: 0; left: calc(50% - 200px); margin:0 auto; display: block; height: 70px; width: 400px;
        background-image: url("../image/comm/header_large_logo_w.png");
        background-repeat: no-repeat; background-size: 100% auto; background-position: center center;
        text-indent: -9999px; font-size: 1em; cursor: pointer; z-index: 9999;
    }

    header h1.mainTit {  background-image: url("../image/comm/header_small_logo_w.png"); background-size: 100% auto;
        width: 100px; left: calc(50% - 50px);  }

    nav.headerNav { position: relative; height: 60px; width: 100%; z-index: 9; text-align: center ; }
    nav.headerNav ul {  display: inline-block; width: 100%; height: 70px; margin: 0 auto; padding: 0 !important;
        max-width: 1400px; text-align: center; }
    nav.headerNav ul li {
        float: left;
        position: relative;
        margin: 10px 0;
        display: block;
        height: 50px;
        width: 12%;
        color: #000; font-size: 1em; text-align: center;
        background-repeat: no-repeat; background-size: auto 30px ; background-position: center center;
    }

    nav.headerNav ul li a { text-indent: -9999px; display:inline-block; width: 100%; height: 100%; }

    nav.headerNav ul li.move   { display:none; background-image: url("../image/comm/nav_move.png" ); ;}
    nav.headerNav ul li.yoga   { background-image: url("../image/comm/nav_yoga.png" ); }
    nav.headerNav ul li.pole   { background-image: url("../image/comm/nav_pole.png" );  }
    nav.headerNav ul li.judo   { background-image: url("../image/comm/nav_judo.png" ); margin-left:52%; }
    nav.headerNav ul li.futsal { background-image: url("../image/comm/nav_futsal.png" ); }


    header.sub .headerNav ul { width: 100%; margin: 0 auto; max-width: 1500px; }
    header.sub .headerNav ul li { width: 120px; float: left; margin-left: 0 ; display:inline-block; background-size: auto 33px; }
    header.sub h1 { background-size:auto 33px; }
    header.sub .headerNav ul li.move { margin-left: 3%; width: 150px;  }

    header.pole h1 {  background-image: url("../image/comm/nav_pole_on.png"); }
    header.pole .headerNav ul li.pole { display:none; }
    header.pole .headerNav ul li.move { margin-left: 3%; width: 150px;  }
    header.pole .headerNav ul li.yoga { margin-left: calc(97% - 550px); }

    header.yoga h1 {  background-image: url("../image/comm/nav_yoga_on.png"); }
    header.yoga .headerNav ul li.yoga { display:none; }
    header.yoga .headerNav ul li.pole { margin-left: calc(97% - 550px); width: 160px; }

    header.judo h1 {  background-image: url("../image/comm/nav_judo_on.png"); }
    header.judo .headerNav ul li.judo { display:none; }
    header.judo .headerNav ul li.pole { width: 160px; }
    header.judo .headerNav ul li.yoga { margin-left: calc(97% - 550px);  }

    header.futsal h1 {  background-image: url("../image/comm/nav_futsal_on.png"); }
    header.futsal .headerNav ul li.futsal { display:none; }
    header.futsal .headerNav ul li.pole {width: 160px; }
    header.futsal .headerNav ul li.yoga { margin-left: calc(97% - 550px);   }

    .btn_cate {display: none;}

    /*스태프*/
    .staff article { margin:0 auto; height:100%;  width: auto;  }
    /*.staff h5 {border: 1px solid #ff0; }*/


}

@media (max-width: 1024px) {

    header { position: fixed; top: 0; left: 0; height: 50px; width: 100%; z-index: 800; }

    header h1 {
        /*width:260px; left: calc(50% - 130px) ;*/
        /*background-size:  auto 30% ;*/
    }
    header h1 {
        position: absolute;
        top: 0;
        font-size: 1em;
        margin:0 auto;
        display: block;
        height: 50px;
        width: 260px; left: calc(50% - 130px)   ;
        background-image: url("../image/comm/header_large_logo_w.png");
        background-repeat: no-repeat; background-size: 100% auto;
        background-position: center center;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 9999;
    }

   header h1.main {
        background-image: url("../image/comm/header_small_logo_w.png");
        background-size: 100% auto;
        width: 100px;
        left: calc(50% - 50px);
    }
    header.pole h1 {  background-image: url("../image/comm/nav_pole_on.png"); background-size: auto 26px; }
    header.yoga h1 {  background-image: url("../image/comm/nav_yoga_on.png"); background-size: auto 26px; }
    header.judo h1 {  background-image: url("../image/comm/nav_judo_on.png"); background-size: auto 26px; }
    header.futsal h1 {  background-image: url("../image/comm/nav_futsal_on.png");  background-size: auto 26px; }

    header .btn_cate { position: absolute; top:0;
        left: 10px; width: 50px; height: 50px;
        background-image: url("../image/comm/btn_category.png");
        background-repeat: no-repeat; background-size: 25px auto;
        background-position: center center; text-indent: -9999px ; cursor: pointer }

    nav.headerNav { position: absolute; width: 100%; height:50px !important;   }
    nav.headerNav ul {
        position: absolute; top: 50px ; left: 200%; width: 100% !important;   height:45px !important;
        background-color:#FFBDB1;   padding: 0 30px;  z-index: 0 !important;
    }

    header.move ul  { background-color: #FFBDB1 !important;}
    header.yoga ul  { background-color: #FFECBB !important;}
    header.pole ul  { background-color: #FFD3E3 !important;}
    header.judo ul  { background-color: #B1F1E9 !important;}
    header.futsal ul  { background-color: #B5D3FC !important;}

    nav.headerNav ul li {
        float:left ; font-size: 0.95em;
        position: relative; text-align:center !important;
        height:45px ; padding:0 2.5% !important;  width: auto ;  display: block;
        color: #000   ;  margin :0  ;
        text-indent: 0; background-image: none ;
    }

    nav.headerNav ul li.move { display: block; margin-right:50% !important; padding:0 0 0 3% !important; }
    nav.headerNav ul li a { font-weight: 600;
        text-indent:0; display:inline-block; width: 100%; height: 100%; line-height: 45px;
        background: none ; color: #000 ; text-decoration: none; text-align: center ; }


}

@media (max-width:1024px) and (min-width:800px)  {
    nav.headerNav ul li.move { margin-right:50% !important;   }
}

@media (max-width:801px) and (min-width:621px)  {
    nav.headerNav ul li.move { margin-right:45% !important;   }
}

@media (max-width:620px) {
    nav.headerNav ul li.move { margin-right:25% !important; padding:0 0 0 3% !important; }
}

@media (max-width:560px) {
    nav.headerNav ul li.move { margin-right:20% !important; padding:0 0 0 3% !important; }
}

@media (max-width:414px) {

    nav.headerNav ul { padding:0 !important;  }
    nav.headerNav ul li { width:18%;  margin-right:0% !important; }

    nav.headerNav ul li:first-child { margin-left: 5%;  width:18%; }
    nav.headerNav ul li:nth-child(2) {  width:16%; }
    nav.headerNav ul li:nth-child(3) {  width:21%;  }
    nav.headerNav ul li:nth-child(4) {  width:17%;  }
    nav.headerNav ul li:last-child { width:17%; }
    nav.headerNav ul li.move { margin-right:0 !important; padding:0 3% 0 3% !important; }

}

.introduce { padding-bottom: 100px ; }
.introduce nav.gall {
    position: relative;  width: 100%; padding:20px 220px 20px 220px; text-align: center;
}
.introduce nav.gall ul { width: 100%; padding:30px 0 20px 0; display: inline-block;  overflow: hidden;}
.introduce nav.gall li {
    float:left; font-size: 1em;  display: block; height: 100px; width: 16%;
    margin:0 2%;
    text-align: center; overflow: hidden;
    background-repeat: no-repeat; background-size: auto 20% ; background-position: center center;
    border-radius: 100%;
    transition:0.5s all;
}
.introduce nav.gall ul li a {
    text-align:center;  display: block; width: 100%; height: 100%; text-indent: -9999px;
    background-repeat: no-repeat; background-size: auto 40px ;
}
nav.gall ul li:hover { transform: scale(1.05); }

nav.gall ul li.move    { background-image: url("../image/comm/header_small_logo_w.png " );  background-color: #FF593C;}
nav.gall ul li.yoga    { background-image: url("../image/comm/gall_cont_yoga.png" ); background-size: auto 80% ; background-color: #FFCF55;}
nav.gall ul li.pole    { background-image: url("../image/comm/gall_cont_pole.png" ); background-size: auto 100% ; background-color: #FF90B8;}
nav.gall ul li.judo    { background-image: url("../image/comm/gall_cont_judo.png" ); background-size: auto 100% ; background-color: #3CDDC7;}
nav.gall ul li.futsal  { background-image: url("../image/comm/gall_futsal_pole.png" ); background-size: auto 80% ; background-color: #4790F8;}

nav.gall ul li.yoga    a:hover { background-image: url("../image/comm/gall_txt_yoga.png" ); background-position: 50% 80%; }
nav.gall ul li.pole    a:hover { background-image: url("../image/comm/gall_txt_pole.png" ); background-position: 90% 55% ; }
nav.gall ul li.judo    a:hover { background-image: url("../image/comm/gall_txt_judo.png" ); background-position: 85% 60% ; }
nav.gall ul li.futsal  a:hover { background-image: url("../image/comm/gall_txt_futsal.png" ); background-position: 70% 70% ; }


main { margin:0 ; padding:0 ; }
.main { margin-top: 60px;}
.vimeoTrailer { position:relative; height:100%;  padding:0 ; display:inline-block; width: 100%; }
.vimeoTrailer iframe {margin:0 ; }

.trailer .yogatext {display: none;
    position: absolute; bottom:10%; left: 5%; height: 200px; width: 200px;
    background-image: url("../image/comm/mainyogatext.png" ) ;
    background-repeat: no-repeat;
    background-size:  100% auto;
    background-position: left center;
    text-indent: -9999px;
    z-index: 10;
}



.introduce article { padding-top:50px; padding-left:250px; }
.introduce article h4 {
    font-size: 1.5em; font-weight:700; height:80px; width:300px; padding: 50px 0 0 0 ; margin-bottom: 10px;
    background-repeat: no-repeat; background-size: auto 30px ; background-position: left top;
    background-image: url("../image/comm/bull_punch.png");
}
.introduce article p.kor { line-height: 1.8em; margin-bottom: 20px;  letter-spacing: -0.05em ; font-size: 1.3em}
.introduce article p.eng { line-height: 1.7em; letter-spacing: 0 ; font-size: 1.1em}


/*움직여 상세 페이지*/
.letsmove { text-align: center;  }
.letsmove article { display: inline-block; padding:100px 30px 100px 30px; max-width: 1310px;  }
.letsmove ul { margin-top:30px; font-size: 1em;  }
.letsmove ul li { margin-bottom:10px; padding-left:15px;
    background-image: url("../image/comm/bull_dot.png" ) ;
    background-repeat: no-repeat;
    background-size: 5px auto;
    background-position: left center; }

.letsmove ul li a { text-decoration: none; color:#000; font-weight: 600 }
.letsmove ul li a:hover{ color:#FF593C;  }

.introduce nav.gall ul li { }

.letsmove article h4 {
    height:80px; width:250px;
    background-image: url("../image/comm/main_tit.png" ) ;
    background-repeat: no-repeat;
    background-size:  60% auto;
    background-position: left center;
    text-indent: -9999px;
    margin-bottom: 15px;
}
.letsmove article p.kor { line-height: 1.6em; font-size: 1.2em; margin-bottom: 20px; letter-spacing: -0.05em ;  }
.letsmove article p.eng { line-height: 1.6em; font-size: 1.1em; letter-spacing: 0 ;  }

.purpose article {padding:50px 30px;  max-width: 1310px; }
.purpose article h5 { font-weight: 500; font-size: 1.7em; line-height: 1.8em; margin-bottom: 10px;}
.purpose article h5 strong { font-weight:700; color:#FF593C;  letter-spacing: -0.05em; margin-right:5px}
.purpose article p { font-size:1.0em; line-height: 1.8em; margin-bottom: 20px; letter-spacing: -0.05em }

.purpose article p .italic { font-style: italic}
.purpose article p a { color:#000;  }
.purpose article p a:hover{ color:#FF593C;  }


.staff { text-align: center; margin-top:50px;  width: 100%;  align-items: stretch;  }

.staff h5 { font-size: 1.3em ;  font-weight:700; height:80px;  padding: 50px 0 0 0 ; margin-bottom: 30px;  margin-left:calc(50% - 615px);
    background-repeat: no-repeat; background-size: auto 30px ; background-position: left top;
    background-image: url("../image/comm/bull_punch.png");
}

.staff article { margin:0 auto; height:100%; justify-content:center; display:flex; flex-flow:row wrap;  font-size: 1.0em ;}
.staff article h6 { float: left;clear: none; display: inline-block;   width:120px; line-height: 18px;    }
.staff article h6 strong { clear: both; width:100%; display:inline-block; font-size: 0.9em ; line-height: 25px;  color: #000000; font-weight:700; }
.staff article h6 span { clear: both; width:100%; display:inline-block;  font-size: 0.8em ;  line-height: 25px;  color: #7e7e7e;  font-weight:500; }

.staff article .supportSection  {  justify-content:center;  display: inline-block ;  }
/*.staff article .supportSection > div { float: left; display: inline-block }*/
.staff article .supportSection > .interviewDiv {  width: 300px; float: left ;  }
.staff article .supportSection > .thanksDiv { width:450px;  float: left ;  }

.staff article .supportSection > .interviewDiv > ul { width:130px; float: left ;  }
.staff article .supportSection > .thanksDiv h6 { width: 140px}
.staff article .supportSection > .thanksDiv > ul { width:300px;float: left ;  }

.staff article ul.stafflist li { position:relative; height:80px; line-height: 18px; font-size: 1.0em }

.staff article ul.stafflist li p.role span {clear: both ; display: inline-block; width: 100%;  }
.staff article ul.stafflist li p.role span:nth-child(1) { font-size: 0.9em ; color: #000000; font-weight:700; line-height: 25px; }
.staff article ul.stafflist li p.role span:nth-child(2) {   font-size: 0.8em  ; color: #7e7e7e; line-height: 25px;  }
.staff article ul.stafflist li p.role { float: left; width: 180px; }

.staff article ul.stafflist li p.nm { position: relative; float: left; width: 300px;  }
.staff article ul.stafflist li p.nm span {clear: both ; display: inline-block; width: 100%;  vertical-align: top;  }
.staff article ul.stafflist li p.nm span:nth-child(1) { font-size: 0.9em ; color: #000000;  font-weight:600; line-height: 25px; }
.staff article ul.stafflist li p.nm span:nth-child(2) { font-size: 0.8em  ; color: #7e7e7e; line-height: 25px; }


.staff article ul.supportlist {float: left; clear: none;  }
.staff article ul.supportlist li {  position:relative; height: 80px }
.staff article ul.supportlist li p {  line-height: 1em }

.staff article ul.supportlist li p.nm { float: left;  width: 100%;  }

.staff article ul.supportlist li p.nm span {clear: both ; display: inline-block; width: 100%;line-height: 18px;   }
.staff article ul.supportlist li p.nm span:nth-child(1) { font-size: 0.9em;  color: #000000;  font-weight:600 }
.staff article ul.supportlist li p.nm span:nth-child(2) {  font-size: 0.8em  ;color: #7e7e7e ; }




.staff article ul li span.sns { width:auto; max-width: 80px;}

.govSupport { margin: 0; padding:20px; width: 100%; text-align: center;   display: inline-block;  }
.govList { margin: 0 auto; padding:0; height:180px; text-align: center; }
.govList .govLogo { clear: both;  text-align: center; margin: 0 auto; }
.govList .txt {  margin: 30px 0 0 0 ;  height:50px; width: 100%; max-width: 1200px; clear: both; display: inline-block; text-align: center; line-height: 1.0em }
.govList ul { width:auto; margin: 0 auto; padding:0; display: inline-block; }
.govList li { float: left; width:150px;  height: 80px; display: block;
    background-position: center; background-repeat: no-repeat; background-size: 80px auto;  }
.govList li.mcst { background-image: url("../image/comm/logo_mcst.png");  }
.govList li.arko { background-image: url("../image/comm/logo_arko.png");  }
.govList li.artson { background-image: url("../image/comm/logo_artson.png");  }
.govList li a { display: inline-block; width: 100%; height: 100%; text-indent: -9999px; }

.interviewContents {margin-top: 30px; }
.interviewContents article {
    position: relative; text-align: center;
    height:100%; width: 100%; display: inline-block; margin-bottom: 50px;
}
.interviewContents h6 { font-size: 1.6em ; font-weight:700; height:90px; width:350px; padding: 50px 0 0 0 ; margin-bottom: 10px;
    background-repeat: no-repeat; background-size: auto 30px ; background-position: left top;
    background-image: url("../image/comm/bull_yoga.png"); vertical-align:bottom; line-height: 1em;  }

.interviewContents h6.yoga {background-image: url("../image/comm/bull_yoga.png");}
.interviewContents h6.pole {background-image: url("../image/comm/bull_pole.png");}
.interviewContents h6.judo {background-image: url("../image/comm/bull_judo.png");}
.interviewContents h6.futsal {background-image: url("../image/comm/bull_futsal.png");}

.interviewContents .interviewContentsTitle{ position:relative; clear:both; float: left; width:100%; max-width:880px; display: inline-block ; }
.interviewContents .interviewContentsTitle .author { position:absolute; top:50px; right: 0; display: inline-block ; }
.interviewContents .interviewContentsTitle .author .sns {  float: left; display: inline-block; height:20px;   }
.interviewContents .interviewContentsTitle .author .nm {  float: left;  font-size: 1em ; line-height:20px; height:20px;   }

.interviewContents .interviewContentsTitle h6 span { float: left; height:22px; line-height: 22px;  vertical-align: text-bottom;    }
.interviewContents .interviewContentsTitle h6 span:first-child {font-size: 1em; }
.interviewContents .interviewContentsTitle h6 span:last-child { font-size: 0.7em; font-weight: 500; margin-left: 3px; }


.interviewContents > article > div p { float: left; max-width: 880px;
  clear:both; /*line-height: 1.6em; font-size: 1.2em; */ margin-bottom: 20px; letter-spacing: -0.05em ; display: inline-block ; color:#333;}

.interviewContents article { padding:50px; }
.interviewContents > article > .interviewCont {   max-width:880px;  display: inline-block ; }
.interviewContents > article > .interviewCont p {font-size: 1.1em; line-height: 1.8em;}
.interviewContents > article > .interviewCont p.txtindent{ margin-left: 20px; }
.interviewContents > article > .interviewCont p.tit { font-weight: 600 !important;  color:#000;  }

.interviewContents > article > .interviewCont p .highlight {
    background-repeat: repeat-x; background-size: 100% 35% ; background-position: left bottom;}
.interviewContents > article > .interviewCont p .yellow { background-image: url("../image/comm/highlight_yellow.png"); }
.interviewContents > article > .interviewCont p .pink { background-image: url("../image/comm/highlight_pink.png"); }
.interviewContents > article > .interviewCont p .green { background-image: url("../image/comm/highlight_green.png"); }
.interviewContents > article > .interviewCont p .blue { background-image: url("../image/comm/highlight_blue.png"); }
.interviewContents > article > .interviewCont p.txtindent2 { padding-left:60px; position: relative }
.interviewContents > article > .interviewCont p.txtindent2 .name { position: absolute; top: 7px; left:15px;
    color: #000;   display: inline-block; height:50px; width: 30px; font-weight: 600;}
.interviewContents > article > .interviewCont > div.illust { float: left; clear:both; display: inline-block; margin:0 auto;
   }

.yogaillust01 {
    margin-top:-100px; width: 100%;
    padding-right:120px; padding-top:340px; margin-bottom: 0;
    background-repeat: no-repeat; background-size: auto 400px ; background-position: right top;
    background-image: url("../image/comm/cont_yoga_illust_01.png");
}
.yogaillust02 {
    width:90%;
    margin-top:-60px;
    padding-right:120px; padding-top:280px; margin-bottom: 0;
    background-repeat: no-repeat; background-size: auto 300px ; background-position: right top;
    background-image: url("../image/comm/cont_yoga_illust_02.png");
}
.yogaillust03 {
    width: 100%; height:400px;
    background-repeat: no-repeat; background-size: auto 350px; background-position: left bottom;
    background-image: url("../image/comm/cont_yoga_illust_03.png");
}


.poleillust01 {
    width: 100%; height: 500px;
    margin-top:-480px; margin-bottom: 0;
    background-repeat: no-repeat; background-size: auto 350px ; background-position: right 50px bottom;
    background-image: url("../image/comm/cont_pole_illust_01.png");
}

.poleillust02 {
    width: 100%; height: 500px;
    padding-right:300px; padding-bottom: 400px;
    background-repeat: no-repeat; background-size: auto 480px; background-position: right -50px top;
    background-image: url("../image/comm/cont_pole_illust_02.png");
}

.poleillust03 {
    width: 100%; height: 550px;
    margin-top:-350px; margin-left:-70px; margin-bottom: 0;
    background-repeat: no-repeat; background-size: auto 500px ; background-position: left 0 top 50px;
    background-image: url("../image/comm/cont_pole_illust_03.png");
}


.judoillust01 {
    width: 100%; padding-top: 230px; display: inline-block; height: 350px;
    background-repeat: no-repeat; background-size: auto 320px ; background-position: 570px bottom  ;
    background-image: url("../image/comm/cont_judo_illust_01.png");
}

.judoillust02 { width: 100%; padding-top: 100px; display: inline-block;
    padding-left:250px;
    background-repeat: no-repeat; background-size: auto 500px ; background-position: left bottom 10px;
    background-image: url("../image/comm/cont_judo_illust_02.png");
}

.futsalillust01 {
    width: 100%; padding-top: 180px; display: inline-block;
    background-repeat: no-repeat; background-size: auto 450px ; background-position: right -23px top ;
    background-image: url("../image/comm/cont_futsal_illust_01.png");
}


.futsalillust02 {
    width: 100%;   margin-left:-50px; padding-top: 80px; display: inline-block;
    padding-left:260px;
    background-repeat: no-repeat; background-size: auto 400px ; background-position: left top;
    background-image: url("../image/comm/cont_futsal_illust_02.png");
}

.futsalillust03 {
    width: 100%;  padding-top: 80px; display: inline-block;
    padding-right:280px;
    background-repeat: no-repeat; background-size: auto 360px ; background-position: right -50px top;
    background-image: url("../image/comm/cont_futsal_illust_03.png");
}

.neg_mt50{ margin-top: -50px}
.neg_mt60{ margin-top: -60px}
.neg_mt80{ margin-top: -80px}
.neg_mt150{ margin-top: -150px}
.interviewContents > article > div > p.txtright { padding-left: 300px; max-width: 950px;}

/* 슬라이드 */
.slider { position: relative; margin: 50px auto 0;font-size: 0;text-align: center; }
.slider .inner {overflow: hidden;width: 100%;margin: 0 auto;}
.slide_list > li {position: relative; width: calc(50% - 20px); margin:0 10px;
     font-size: 20px; line-height: 150px; color: #000;text-align: center; overflow: hidden ;    }
.slide_list > li img { width: 100%; height:auto }

/* 영역별 밝기 설정 */
.slide_list > li:after {content:'';
    position: absolute; top: 0;left: 0; width: 100%; height: 100%;
    background:rgba(255,255,255,0.4);
    transition: all 0.3s;opacity: 1;  }

.slide_list > li.swiper-slide-active:after,
.slide_list > li.swiper-slide-duplicate-active:after  {opacity: 0;}

.slide_list > li.swiper-slide-next:after,
.slide_list > li.swiper-slide-prev:after,
.slide_list > li.swiper-slide-duplicate-next:after,
.slide_list > li.swiper-slide-duplicate-prev:after {opacity: 1;}

.slider .btn { position:absolute; top:0;  display: inline-block;width:25% ;height: 100%;
    text-indent: -9999em;cursor: pointer;
    z-index: 10;}
.slider .btn.btn_prev {left:0;   }
.slider .btn.btn_next {right:0 ;  }

@media (max-width: 1300px) {

    .introduce article { padding: 30px 80px 50px 100px !important;  text-align: center;   }
    .introduce nav.gall { padding: 0 80px;  text-align: center;}
    .introduce nav.gall ul { padding:20px 0; }
    .introduce nav.gall ul li a { display: block; opacity: 0.6; background-size:auto 12px ; }
    .introduce nav.gall ul li.yoga    a { background-image: url("../image/comm/gall_txt_yoga.png" ); background-position: 50% 80%; }
    .introduce nav.gall ul li.pole    a { background-image: url("../image/comm/gall_txt_pole.png" ); background-position: 90% 55% ; }
    .introduce nav.gall ul li.judo    a { background-image: url("../image/comm/gall_txt_judo.png" ); background-position: 85% 60% ; }
    .introduce nav.gall ul li.futsal  a { background-image: url("../image/comm/gall_txt_futsal.png" ); background-position: 70% 70% ; }

    .introduce nav.gall ul li a:hover {  opacity:1 ; }
    .yogaillust01 { padding-right:0; padding-bottom: 0 !important;  padding-top:300px; margin-top:0px;
                background-size: auto 320px; background-position: top center  !important; }

    .judoillust01 { padding-top: 140px;  height: 245px;
        background-size: auto 250px ; background-position: right -23px bottom ;
    }

    .slide_list > li {  height: 400px;  width: calc(75% - 20px); }
    .slide_list > li img {  width:auto; height: 100%; }


}

@media (max-width: 1120px) {

    .letsmove  { margin-top:60px; }

    .letsmove article h4 {
        height:60px;  margin-bottom: 10px; background-size: auto 30px; }

    .letsmove article p.kor { font-size: 1.1em }
    .letsmove article p.eng { font-size: 1em }

}


@media (max-width: 1024px) {

    .slide_list > li {  height: 200px; width: calc(75% - 20px);  }
    .slide_list > li img {  width: 100%; height: auto;  }

    .slide_list > li { width: calc(50% - 20px);}
    .staff article ul li p.sns { top: -5px; right: 15px;  }

    .slider .btn { display: none;}

    .main { margin-top: 50px !important; }

    .letsmove  { margin-top:60px; }
    .letsmove article { padding:0px 40px 60px 40px;}

    /*.letsmove article p.kor { font-size: 1.1em }*/
    /*.letsmove article p.eng { font-size: 0.95em }*/

    .letsmove article p.kor { font-size: 1.1em }
    .letsmove article p.eng { font-size: 1em }

    /*.interviewContents > article  p.txtindent{ margin-left:0 !important; }*/
    .interviewContents > article > .interviewCont {max-width: 800px; }
    .interviewContents article { padding:30px 30px 50px 50px ; }
    .interviewContents > article > .interviewCont p.tit { font-weight: 600 !important;  color:#000; /*font-size: 1.05em */ }
    .interviewContents > article > div p { float: left;
        clear:both; margin-bottom: 20px; letter-spacing: -0.05em ; display: inline-block ; color:#333;}

    .introduce article { padding:30px 40px 50px 40px !important;   }
    .introduce nav.gall { padding: 10px 35px;  text-align: center; }
    .introduce article h4 {
        font-size: 1.5em !important; font-weight:700; height:80px; width:300px; padding: 50px 0 0 0 ; margin-bottom: 10px;
        background-repeat: no-repeat; background-size: auto 30px ; background-position: left top;
        background-image: url("../image/comm/bull_punch.png");
    }
    .introduce article p.kor { line-height: 1.6em;  font-size: 1.1em}
    .introduce article p.eng { line-height: 1.6em;  font-size: 1em}

    .introduce nav.gall { position: relative;  width: 100%; text-align: center; }
    .introduce nav.gall { width: 100%;  }

    .purpose article { padding:50px 50px 50px 50px !important;}

    /*.staff article .supportSection > .interviewDiv {  width: 130px;  clear: both; float: left; }*/
    /*.staff article .supportSection > .thanksDiv { width: 250px;  clear: both; float: left;}*/

    .yogaillust01 { padding-top:200px !important; margin-top: -60px;
        background-repeat: no-repeat; background-size: auto 220px ; background-position: right 0 top 0 !important;
    }
    .yogaillust02 {
        background-repeat: no-repeat; background-size: auto 250px  ; background-position: center bottom 20px;
    }
    .yogaillust03 {  height:250px;
        background-repeat: no-repeat; background-size:  350px auto;  background-position: center top;
    }


    .poleillust01 { height: 400px;
        margin-top:-430px;
        background-repeat: no-repeat; background-size: auto 280px; background-position: bottom right;
    }

    .poleillust02 { padding-right:200px; padding-bottom: 150px !important; height: auto !important;
        background-repeat: no-repeat; background-size: auto 250px; background-position: top right;
    }

    .poleillust03 {
        margin-top:-560px; margin-left:-0px;
        background-repeat: no-repeat; background-size: auto 250px ; background-position: bottom left;
    }

    .judoillust02 { width: 100%; padding-top: 0; display: inline-block;
        padding-left:0px;
        background-repeat: no-repeat; background-size: auto 400px ; background-position: left bottom;
        background-image: none;
    }


    .futsalillust02 {
        width: 100%;   margin-left:-50px !important; padding-top: 80px; display: inline-block;
        padding-left:250px;
        background-repeat: no-repeat; background-size: auto 400px ; background-position: left top;
        background-image: url("../image/comm/cont_futsal_illust_02.png");
    }



   .futsalillust03 {
        width: calc(100% + 30px);  padding-top: 50px; display: inline-block;
        padding-right:170px;
        background-repeat: no-repeat; background-size: auto 330px ; background-position: right -50px top;
        background-image: url("../image/comm/cont_futsal_illust_03.png");
    }
    .futsalillust03 p:nth-child(2) { padding-right:60px;}

    .interviewContents > article > div > p.txtright { padding-left: 200px; max-width: 950px;}


    .govList .txt { font-size: 0.9em; line-height: 1.5em }
    .govList li {  width:90px; height: 50px; background-size: 50px auto;  }

}


@media (max-width:862px) and (min-width:415px)  {

    .futsalillust02 {
        width: 100%;  display: inline-block; height: auto; margin-left:-30px ;
        padding-left:0; padding-top: 20px;
        background-repeat: no-repeat; background-size: auto 310px ;background-position: top left ;
        background-image: url("../image/comm/cont_futsal_illust_02.png");
    }
    .futsalillust02 p:first-child {margin-left: 250px;}
    .futsalillust02 p:nth-child(2) {margin-left: 230px;}
    .futsalillust02 p:nth-child(3) {margin-left: 30px;}
    .futsalillust02 p:nth-child(4) {margin-left: 50px;}


    .futsalillust01 {
        width: 100%;   display: inline-block; background-size: auto 330px ;
    }
    .neg_mt150{ margin-top: -150px !important; ;}

    .futsalillust01 p:nth-child(2) {margin-right: 80px;}

}

@media (max-width: 1300px) {

    .staff h5 { margin-left:40px; }

    .staff article {padding: 0 40px; }
    .staff article ul.stafflist {width: 500px }
    .staff article ul.stafflist { justify-content:center; }
    .staff article ul.stafflist li { position:relative; height:80px; line-height: 18px;}
    .staff article ul.stafflist li span { }
    .staff article ul.stafflist li p.role { float: left; width: 180px; }
    .staff article ul.stafflist li p.nm { position: relative; float: left; width: 300px;  }

    .staff article .supportSection { width: calc(100% - 500px); }
    .staff article .supportSection > .interviewDiv { width: 100%;  }
    .staff article .supportSection > .thanksDiv { float: left ; width: 100%  }

    .staff article .supportSection > .interviewDiv h6 ,
    .staff article .supportSection > .thanksDiv h6 { width: 160px }
    .staff article .supportSection > .thanksDiv > ul { width: calc(100% - 160px); }
    .staff article .supportSection > .interviewDiv > ul { width: calc(100% - 160px); }

}

@media (max-width: 1024px) {
    .staff h5 { margin-left:50px; }

    .staff {margin-top: 10px; padding: 0 0px}
    .staff article { padding: 0 0  0 50px; width:100%;  justify-content:left; display:flex; flex-flow:row wrap;}
    .staff article .stafflist {  float: left; width: 480px!important;   }
    .staff article .supportSection {  float: left; clear: none;  width: calc(100% - 480px);  }
    .staff article ul.stafflist li { position:relative; height:60px !important; line-height: 18px;}

    .staff article h6 { width: 150px !important;    height: 50px; display: inline-block;   float: left !important;  clear: none !important; margin-bottom: 30px;  }
    .staff article .supportSection > .thanksDiv,
    .staff article .supportSection > .interviewDiv {width: 100%; }
    .staff article .supportSection > .interviewDiv > ul ,
    .staff article .supportSection > .thanksDiv > ul { width: calc(100% - 150px); float: left !important; clear: none !important;  }

    .staff article ul.supportlist { width: 100%; float: left ; margin-right:0px !important; ;  }
    .staff article ul li p.sns { position: absolute; right:0; width: 75px; }
    .staff article .supportSection { float: left; margin-left:0 !important;   }
}


@media (max-width:862px) and (min-width:415px)  {
    .staff {margin-top: 10px; padding: 0 20px}
    .staff h5 { margin-left: 40px; }
    .staff article { justify-content: left; }
    .staff article ul.stafflist { width: 100% ; }
    .staff article ul.stafflist li { height: 100px ; min-height:80px; }
    .staff article ul.stafflist li .role {  width: 180px ; }
    .staff article ul.stafflist li .nm { width: calc(100% - 180px); }
    .staff article .supportSection {   width: 100% ;  display: inline-block}
    .staff article .supportSection h6 { width:180px !important;   float: left ;  }
    .staff article .supportSection .interviewDiv,
    .staff article .supportSection .thanksDiv { width: 100%; display: inline-block }
    .staff article .supportSection .interviewDiv ul,
    .staff article .supportSection .thanksDiv ul { float: left!important;   width: calc(100% - 190px) ;  clear: none !important ;}

}

@media (max-width:414px) {

    .staff article { padding: 0 0px  20px  30px;  justify-content:left !important; display:flex; flex-flow:row wrap; font-size: 0.9em }

    .staff h5 {   margin-left: 30px; margin-bottom: 30px; margin-top:0px; font-size: 1.1em; }
    .staff article h6 {  margin-left:0 !important; clear:none !important; width: 100px;}
    .staff article .supportSection h6 { float: left; clear:none !important; width: 130px !important;  }

    .staff article ul.stafflist { width: 100%; margin-top:0; margin-right: 0 !important; }
    .staff article ul.stafflist li { width: 100%; height:60px !important; overflow: hidden  }
    .staff article ul.stafflist li .role {  width: 130px !important;  line-height: 0.7em !important;  }
    .staff article ul.stafflist li .nm { width: calc(100% - 130px)!important;  }

    .staff article ul.stafflist li.li_sns {  height:80px !important;  }
    .staff article ul.stafflist li.li_sns p.nm {  height:100%;position: relative;   }
    .staff article ul.stafflist li.li_sns p.nm .sns { margin-left: 0; position: absolute; bottom: 15px; left: 0; }
    .staff article ul.stafflist li.li_sns p.nm .sns a { margin-left: 0; margin-right: 3px; }


    .staff article ul.stafflist li p.role span:nth-child(1) { color: #000000; font-weight:700; line-height:20px }
    .staff article ul.stafflist li p.role span:nth-child(2) {  color: #7e7e7e; line-height:18px ; letter-spacing: -0.05em}
    .staff article ul.stafflist li p.nm span:nth-child(1) { color: #000000;  font-weight:600; line-height:20px  }
    .staff article ul.stafflist li p.nm span:nth-child(2) { color: #7e7e7e; line-height: 18px ;  letter-spacing: -0.05em}

    .staff article .supportSection { float: left;  width: 100%; }
    .staff article .supportSection > div { float: left; margin-top:30px;  }
    .staff article .supportSection > .interviewDiv { clear:none !important;  width: 100% !important;   }
    .staff article .supportSection > .thanksDiv { clear:none !important;   width: 100% !important;   }

    .staff article supportSection li { height:100%; margin-bottom: 5px; display: inline-block; width: 100%; }

    .staff article ul.supportlist { width:200px; margin-left:0; margin-top:0; clear:none !important;float: left; }


    .staff article .supportSection .interviewDiv ul  li ,
    .staff article .supportSection .thanksDiv ul  li  {margin-bottom: 5px; height: 60px;}

    .staff article .supportSection .interviewDiv,
    .staff article .supportSection .thanksDiv { width: 100%; display: inline-block }
    .staff article .supportSection .interviewDiv ul,
    .staff article .supportSection .thanksDiv ul { float: left!important;   width: calc(100% - 130px) ;  clear: none !important ;}
    .staff article ul.supportlist li p.nm span:nth-child(1) { color: #000000;  font-weight:600 }
    .staff article ul.supportlist li p.nm span:nth-child(2) {    color: #7e7e7e}

}

@media (max-width:414px) {

    .letsmove {margin-top:50px;}
    .letsmove article { padding:0px 10px 30px 25px; }

    .letsmove article h4 {
        height:50px; width:150px; margin-bottom: 25px;
        background-image: url("../image/comm/main_tit.png" ) ;
        background-size: auto 25px; background-position: left bottom;
    }

    .letsmove article p.kor { margin-bottom: 10px; line-height: 1.6em;  font-size: 1.0em; letter-spacing: -0.05em ;  }
    .letsmove article p.eng { line-height: 1.5em;  font-size: 0.95em; margin-top:25px  }


    .slider { margin: 10px auto 0;  }

    .introduce article { padding:10px 10px 10px 25px;  }
    .introduce nav.gall { padding: 0 50px 0 50px;  text-align: center;}

    .introduce nav.gall ul li {
        float:left; font-size: 1em;  display: block; height: 100px; width: 29%;
        text-align: center; overflow: hidden;
    }

    .introduce nav.gall ul li:nth-child(4) { margin-left: 18% ; margin-top: 20px; }
    .introduce nav.gall ul li:nth-child(5) { margin-top: 20px; }

    .interviewContents > article { padding:0 20px 20px 30px; }
    .interviewContents > article  p.txtindent{ margin-left:0 !important; }
    .interviewContents > article  p.txtindent2 { margin-left:0 !important; }
    .interviewContents > article > .interviewCont p.tit { font-weight: 600 !important;  color:#000;  }
    .yogaillust > span:first-child{ width:100% !important;   }
    .yogaillust > span:last-child{ width:100% !important;   }

    .interviewContents > article > .interviewCont p {font-size: 1.0em; line-height: 1.7em;}

    .purpose article { padding:30px 30px 30px 30px !important; }
    .purpose article h5 { font-size: 1.2em;}
    .purpose article p { line-height: 1.7em;  font-size: 1.05em; letter-spacing: -0.05em ;  margin-bottom: 10px;  }

    .slide_list > li {  height: 200px; width: calc(75% - 20px);  }
    .slide_list > li img {  width: 100%; height: auto;  }

    .interviewContents .interviewContentsTitle h6 { background-size: auto 20px ; padding: 30px 0 0 0 ; font-size: 1.0em !important; ; font-weight:700; height:70px; width:250px;  line-height: 1.2em !important; }
    .interviewContents .interviewContentsTitle h6 span { height:20px; line-height: 20px;   }
    .interviewContents .interviewContentsTitle h6 span:first-child { font-size: 1.1em;  }
    .interviewContents .interviewContentsTitle h6 span:last-child{ font-size: 0.95em; }
    .interviewContents .interviewContentsTitle h6 span.clboth { clear: both;  padding-left: 50px }
    .interviewContents .interviewContentsTitle { margin-bottom: 20px }

    .interviewContents .interviewContentsTitle .author {top:30px; width: 150px; height:40px; }
    .interviewContents .interviewContentsTitle .author .sns { position: absolute; top:20px; right:0 ; height:20px;  }
    .interviewContents .interviewContentsTitle .author .sns a { margin-left:2px; margin-top:3px}
    .interviewContents .interviewContentsTitle .author .nm { position: absolute; top:0;   right:0 ;   height:20px; font-size: 0.8em; margin-bottom: 0 !important }



    .yogaillust01 { margin-top: -40px !important;
        padding-right: 0 !important; padding-top:200px !important; margin-bottom: 0;
        background-repeat: no-repeat; background-size: auto 190px  !important;
        background-position: center top 10px !important;
    }
    .yogaillust02 { height: auto !important;
        padding-right: 0 !important; padding-top: 200px !important;  margin-bottom: 20px;
        background-repeat: no-repeat; background-size: auto 180px  ; background-position: center top 30px;
    }
    .yogaillust03 {
        width: 100%; height:300px;
        background-repeat: no-repeat; background-size:  280px auto;  background-position: center top;
    }


    .poleillust01 {
        height: 300px !important; margin-top:0px; margin-bottom: 0;
        background-repeat: no-repeat; background-size: auto 300px; background-position: center;
    }

    .poleillust02 {
        width: 100%; height: auto !important;  padding-right:0; padding-bottom: 250px !important;
        background-repeat: no-repeat; background-size: auto 250px; background-position: center bottom;
    }

    .poleillust03 {
        width: 100%; height: 300px;
        margin-top:0; margin-left:0; margin-bottom: 0;
        background-repeat: no-repeat; background-size: auto 300px ; background-position: center center;
    }

    .judoillust01 { padding-top: 300px;  height: 440px;
        background-size: auto 300px ;background-position: center top !important;
    }

    .judoillust02 { padding-top: 385px; padding-left: 0;
        background-size: auto 370px; background-position: center top !important;
        background-image: url("../image/comm/cont_judo_illust_02.png");
    }


    .futsalillust01 {
        width: 100%; padding-top: 340px; display: inline-block; height: auto;
        background-repeat: no-repeat; background-size: auto 330px ; background-position: top center ;
        background-image: url("../image/comm/cont_futsal_illust_01.png");
    }

    .neg_mt150{ margin-top: -0px}

    .futsalillust02 {
        width: 100%; padding-top: 340px; display: inline-block; height: auto; margin-left:0 !important;
        padding-left:0;
        background-repeat: no-repeat; background-size: auto 330px ;background-position: top center ;
        background-image: url("../image/comm/cont_futsal_illust_02.png");
    }

    .futsalillust03 {
        width: 100%;  padding-top: 350px; height: auto; display: inline-block;
        padding-right:0;
        background-repeat: no-repeat; background-size: auto 330px ; background-position: top center ;
        background-image: url("../image/comm/cont_futsal_illust_03.png");
    }

    .futsalillust03 p:nth-child(2) { padding-right:0px;}

    .interviewContents > article > div p { float: left;
        clear:both; margin-bottom: 20px; letter-spacing: -0.05em ; display: inline-block ; color:#333;}

    .interviewContents > article > .interviewCont p.txtindent2 .name { top: 4px; left:0 ; }
    .interviewContents > article > .interviewCont p.txtindent2 { padding-left:45px !important; }

    p.txtright { padding-left:0 !important; width: 100% !important;  }


}
